<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="https://sarahcrack.io/" class="govuk-header__link govuk-header__service-name">
        Digital Associate Journal, by Sarah Crack
      </a>
    </div>
  </div>
</header>

<h1>Hello Journal Posts!</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Know your audience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          How people read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for How people read.</p>
    </div>
  </div>
</div>

<% @posts.each do |post| %> 
    <div>
        <!-- check if the post's date is a Monday and if so, the week number will be included -->
        <% if post.date.monday? %>
            <h2>WEEK: <%=post.week %></h2>
            <p><%= post.digital_discipline %></p>
        <% end %>
        <!-- Display the formatted date using the helper method -->
        <!--This part uses strftime to display the full weekday name (like "Tuesday")--> 
        <!--This calls the ordinalize_day helper method to display the date with the day and month formatted with an ordinal suffix -->
        <h3 class="govuk-heading-s"><%= post.date.strftime("%A") %> <%= ordinalize_day(post.date) %></h3>  
        <p><%= post.body %></p>
    </div>
<% end %>
