<h1>Hello Journal Posts!</h1>

<% @posts.each do |post| %> 
    <div>
        <h2>Week: <%=post.week %></h2>
        <p><%= post.digital_discipline %></p>
        <!-- Display the formatted date using the helper method -->
        <!--This part uses strftime to display the full weekday name (like "Tuesday")--> 
        <!--This calls the ordinalize_day helper method to display the date with the day and month formatted with an ordinal suffix -->
        <p><%= post.date.strftime("%A") %> <%= ordinalize_day(post.date) %></p>  
        <p><%= post.body %></p>
    </div>
<% end %>
