<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="govuk-template__body">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <%= render 'shared/header' %>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <script type="module" src="<%= asset_path('govuk/govuk-frontend.min.js') %>"></script>
    <script type="module">
    import { initAll } from '<%= asset_path('govuk/govuk-frontend.min.js') %>';
    initAll();
    </script>
  </body>
</html>
